* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
}

img {
    max-width: 100%;
    height: auto;    
}

.page-section {
    padding: 0 calc(50% - 600px);
    padding-left: 1.125rem;
    padding-right: 1.125rem;
    
    @include breakpoint($medium) {
    padding-top: 4.5rem;   
    }
    
    @include breakpoint($large) {
        padding: 4.5rem calc(50% - 600px) 0 calc(50% - 600px);
    }
    
}

.page-section--blue {
    background-color: $lightblue;
    color: #fff;

}

.wrapper--medium {
    max-width: 976px;
    margin: 0 auto;
}

a {
    color: $orange;
}

.page-section--no-b-padding-until-medium {
    @include breakpoint(max-width 600px) {
        
    }
}

