* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
}

img {
    max-width: 100%;
    height: auto;    
}

.page-section {
    
    
    @include breakpoint($medium) {
    
        
    }
    
    @include breakpoint(max-width 1200px) {
        
    }
}

.page-section--blue {
    

}

.wrapper--medium {
    
}

a {
    
}

.page-section--no-b-padding-until-medium {
    @include breakpoint(max-width 600px) {
        
    }
}

